.App {
  text-align: center;
}

.moto-gallery {
  width: 200px;
}

.moto-home {
  display: flex;
  margin:auto;
  max-width: 100%;
  width: 450px;
  height: 796px;
}
.moto {
  display: flex;
  margin:auto;
  max-width: 100%;
  width: 450px;
  height: auto;
}





